footer.bg-black.pt-3.text-white.text-center.mt-auto
    .container
        nav.d-flex.justify-content-center.flex-wrap.gap-3(aria-label='Enlaces legales y política de privacidad')
            a.link-light.text-decoration-none(href='#', aria-label='Leer el Aviso Legal') Aviso Legal
            a.link-light.text-decoration-none(href='#', aria-label='Leer la Política de Cookies') Política de Cookies
            a.link-light.text-decoration-none(href='#', aria-label='Leer la Política de Privacidad') Política de Privacidad
            p 2025 &copy; New Art, música y danza