doctype html
html(lang='es')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name='author' content='Sergio Roca')

        if(pagina)
            title #{pagina} - #{nombrePagina}
        else
            title #{nombrePagina}

        link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')

    body.d-flex.flex-column.min-vh-100
        include header
        block contenido
        include footer

        script(src='/bootstrap/js/bootstrap.bundle.min.js')